<% content_for :head do %>
  <%= javascript_include_tag "home/index" %>
  <%= stylesheet_link_tag "home/index", :media => "all" %>
<% end %>

<!-- Hero -->
<div class="container-fluid container-bokeh-home container-padded">
  <div class="row-fluid bumpDown">
    <div class="offset1 span10">
      <div class="span7 offset1">
        <!-- Be# -->
        <h1 class="cubanoHead">Ready to <em class="lightBlueT">#Change</em> your life?</h1>
        <h1 class="cubanoHead">We're ready to help you
        <h1 class="hidden cubanoHead" id="BeFittr"><em class="lightBlueT">Get #Fittr</em></h1>
        <h1 class="hidden" id="BeOvercome"><em class="redT">#GetSexyr</em></h1>
        <h1 class="hidden" id="BeMakeTheTeam"><em class="yellowT">#KillTheCompetiton</em></h1>
        <h1 class="hidden" id="BeIncreaseConfidence"><em class="orangeT">#Confidence</em></h1>
        <h1 class="hidden" id="BeImpressHer"><em class="whiteT">#MakeThemJealous</em></h1>
        <h1 class="hidden" id="BeLoseWeight"><em class="greenT">#GetATonedAss</em></h1>
        <h1 class="hidden" id="BeJumpHigher"><em class="greyT">#JumpHigher</em></h1>
        <h1 class="hidden" id="BeRunFaster"><em class="purpleT">#RunFaster</em></h1>
        <h1 class="" id="BeStronger"><em class="redT">#GetStronger</em></h1>

        <!-- More Info -->
        <h2>
            From novice to pro,<br /> <em class="lightBlueT">Fittr</em> will help you achieve your fitness goals.
        </h2>

        <div class="container-fluid">
          <a href="#aboutVideo" class="btn btn-large"><%= image_tag 'Icons/glyphicons_180_facetime_video.png' %> Learn More</a>
        </div>
      </div>
      <div class="span3 offset1 hidden-phone">
        <%= image_tag 'home/billboardPhone.png', :id => 'billboardIphone' %>
      </div>
    </div>
  </div>
</div>

<!-- Bottom info of page -->

<div class="container-fluid container-roomier align-center">
 <div class="row-fluid">
   <div class="span6 offset3">
      <h1>Try it out, it's free</h1>
       <div class="getFittrButton">
       </div>
    
   </div>
  </div>
</div>


<!-- Start of info boxes -->

<div class="jumbosign">
	<div class="container">
		<div class="row">
    	<div class="appleDesc span6">
       <h1>You're unique</h1>
       <h2>Now your workout is too.</h2>
       
       <div class="align-justify">
         <p>Use Fittr if you're losing weight with a home gym, a bodybuilder with a club membership, or even a newbie without much equipment.
           
         <p><em class="grey">Worry free</em> Stop worrying whether you're training correctly, Fittr shows you exactly what you need to be doing to reach your goals.</p>
           
         <p><em class="grey">Swap out excercises</em> Say you hate squats. Or your knee hurts. No Problem. Just suggest to Fittr that you'd like to change an excercise out and Fittr will give you some equivalent alternatives.</p>
           
         <%= link_to 'Learn more about how Fittr works', :controller => 'about', :action => 'howFittrWorks' %>
       </div>
       
    </div>
    	<div class="span6 align-right">
	    <%= image_tag 'home/unique.png' %>
	  </div>
    </div>
  </div>
</div>

