<% content_for :head do %>
  <%= javascript_include_tag "home/index" %>
  <%= stylesheet_link_tag "home/index", :media => "all" %>
<% end %>

<!-- Hero -->
<div class="container-fluid container-bokeh-home container-padded">
  <div class="row-fluid bumpDown">
    <div class="offset1 span10">
      <div class="span7 offset1">
        <!-- Be# -->
        <h1 class="cubanoHead">Ready to <em class="lightBlueT">#Change</em> your life?</h1>
        <h1 class="cubanoHead">We're ready to help you
        <h1 class="hidden cubanoHead" id="BeFittr"><em class="lightBlueT">Get #Fittr</em></h1>
        <h1 class="hidden" id="BeOvercome"><em class="redT">#GetSexyr</em></h1>
        <h1 class="hidden" id="BeMakeTheTeam"><em class="yellowT">#KillTheCompetiton</em></h1>
        <h1 class="hidden" id="BeIncreaseConfidence"><em class="orangeT">#Confidence</em></h1>
        <h1 class="hidden" id="BeImpressHer"><em class="whiteT">#MakeThemJealous</em></h1>
        <h1 class="hidden" id="BeLoseWeight"><em class="greenT">#GetATonedAss</em></h1>
        <h1 class="hidden" id="BeJumpHigher"><em class="greyT">#JumpHigher</em></h1>
        <h1 class="hidden" id="BeRunFaster"><em class="purpleT">#RunFaster</em></h1>
        <h1 class="" id="BeStronger"><em class="redT">#GetStronger</em></h1>

        <!-- More Info -->
        <h2>
            From novice to pro,<br /> <em class="lightBlueT">Fittr</em> will help you achieve your fitness goals.
        </h2>

        <div class="container-fluid">
          <a class="btn btn-large sublime"><%= image_tag 'Icons/glyphicons_180_facetime_video.png' %> Learn More</a>

          <video class="sublime lightbox" width="852" height="479" data-uid="807352d0" style="display:none" preload="none">
					  <source src="http://7b6bd790410542634cd7-19d9e32a0bb4c15d33a62f47cca55dae.r94.cf1.rackcdn.com/final%20remastered-HD%20720p%20Video%20Sharing-1.mov" />
					  <source src="http://7b6bd790410542634cd7-19d9e32a0bb4c15d33a62f47cca55dae.r94.cf1.rackcdn.com/mobile%20video.mov" />
					</video>
					<script type="text/javascript" src="http://cdn.sublimevideo.net/js/enagkqu2.js"></script>
					
        </div>
      </div>
      <div class="span3 offset1 hidden-phone">
        <%= image_tag 'home/billboardPhone.png' %>
      </div>
    </div>
  </div>
</div>

<!-- Bottom info of page -->
<div class="container-fluid container-roomier align-center">
 <div class="row-fluid">
   <div class="span6 offset3 tryIt">
      <h1>Try it <em>Free</em> for 2 weeks</h1>
       <div class="getFittrButton">
       </div>
    
   </div>
  </div>
</div>


<!-- Start of info boxes -->

<div class="jumbosign">
	<div class="container-fluid">
		<div class="row-fluid">
			<!-- Appear on top for mobile -->
			<div class="span5 align-center visible-phone">
	      <%= image_tag 'home/unique.png' %>
	    </div>
    	<div class="appleDesc offset1 span5">
       <h1>You're <em class="purple">unique</em></h1>
       <h2>Now your workout is too.</h2>
       
       <div class="align-justify">
         <p>
	         Use Fittr if you're losing weight with a home gym, a bodybuilder with a club membership, or even a newbie without much equipment.
	         <em class="purple">Whatever your goal is</em>, <em class="orange">Whoever you are</em>, <em class="blue">Fittr</em> is ready to help you out.
	      </p>
           
         <%= link_to 'Learn more about how Fittr works', :controller => 'about', :action => 'howFittrWorks' %>
       </div>
       
    </div>
    	<div class="span5 align-center hidden-phone">
	      <%= image_tag 'home/unique.png' %>
	    </div>
    </div>
  </div>
</div>



<div class="jumbosign">
	<div class="container-fluid">
		<div class="row-fluid">
		  <div class="offset1 span5 align-center">
         <%= image_tag 'home/iphones.png' %>
       </div>
    	<div class="appleDesc span5">
    	  
    	 <h1>More Workouts</h1>
       <h2>Less <em class="orange">work.</em></h2>

       <div class="align-justify">
         <p>Fittr <em class="green">manages everything</em> for your workouts and tailors new workouts for you. Let fittr worry about your fitness plan and scheduling, <em class="purple">you've got more important things to deal with</em>. Just grab your smartphone and hit the start your workout.</p>

          <%= link_to 'Learn more about Fittr\'s workouts', :controller => 'about', :action => 'fittrsWorkouts' %>
       </div>
      </div>
    </div>
  </div>
</div>



<div class="jumbosign">
	<div class="container-fluid">
		<div class="row-fluid">
			<!-- Appear on top for mobile -->
			<div class="span5 align-center visible-phone">
	      <%= image_tag 'about/variables.png' %>
	    </div>
    	<div class="appleDesc offset1 span5">
         <h1>Supersets to ellipticals</h1>
          <h2>Fittr speaks the <em class="purple">language.</em></h2>
         
         <div class="align-justify">
           <p>A genius engine that takes your goals, equipment, and schedule into consideration makes Fittr the <em class="orange">hands-down, thumbs-up</em>, most advanced fitness trainer in the world. Trained by fitness experts and backed by science. Einstien would be proud.</p>

             
           <%= link_to 'Learn more about how Fittr\'s technology', :controller => 'about', :action => 'fittrsTechnology' %>
         </div>
       
    </div>
    	<div class="span5 align-center hidden-phone">
        <%= image_tag 'about/variables.png' %>
      </div>
    </div>
  </div>
</div>


<div class="jumbosign">
	<div class="container-fluid">
		<div class="row-fluid">
		  <div class="offset1 span5 align-center ">
         <%= image_tag 'home/socialize.png' %>
       </div>
    	<div class="appleDesc span5">
    	  
    	  <h1>Socialize</h1>
        <h2>It's <em class="blue">good for you.</em></h2>

        <div class="align-justify">
          <p>Connect with <em class="green">friends</em> through groups. Share your goals. Push each other. Compete for <em class="orange">bragging</em> rights. Stay motivated and get results!</p>

          <%= link_to 'Learn more about Fittr\'s social features', :controller => 'about', :action => 'socialize' %>
       </div>
      </div>
    </div>
  </div>
</div>


<div class="jumbosign">
	<div class="container-fluid">
		<div class="row-fluid">
			<!-- Appear on top for mobile -->
			<div class="span5 align-center visible-phone">
	      <%= image_tag 'home/compare.png' %>
	    </div>
    	<div class="appleDesc offset1 span5">
         <h1>When you compare <em class="blue">Fittr</em> to <em class="red">personal trainers</em></h1>
           <h2>There is <em class="purple">no comparison.</em></h2>
          
          <div class="align-justify">
            <p>The price for personal trainers is per hour, not per month. The prices per hour vary from $25 all the way to $75 an hour. When you figure that you should be working out at least 3 days a week and that there is generally 4 weeks in a month, the prices for a <em class="red">trainer come out to over $300/month!</em> Comparing that to Fittr's <em class="green">$8.99/month</em> price, there is no comparison.</p>
         

             
           <%= link_to 'Learn more about how Fittr matches up', :controller => 'about', :action => 'trainerComparison' %>
         </div>
       
    </div>
    	<div class="span5 align-center hidden-phone">
         <%= image_tag 'home/compare.png' %>
      </div>
    </div>
  </div>
</div>

