<% content_for :head do %>
  <%= javascript_include_tag "home/index" %>
  <%= stylesheet_link_tag "home/index", :media => "all" %>
<% end %>

<!-- Hero -->
<div class="container-fluid container-bokeh-home container-padded">
  <div class="row-fluid bumpDown">
    <div class="offset1 span10">
      <div class="span7 offset1">
        <!-- Be# -->
        <h1 class="cubanoHead">Ready to <em class="lightBlueT">#Change</em> your life?</h1>
        <h1 class="cubanoHead">We're ready to help you
        <h1 class="hidden cubanoHead" id="BeFittr"><em class="lightBlueT">Get #Fittr</em></h1>
        <h1 class="hidden" id="BeOvercome"><em class="redT">#GetSexyr</em></h1>
        <h1 class="hidden" id="BeMakeTheTeam"><em class="yellowT">#KillTheCompetiton</em></h1>
        <h1 class="hidden" id="BeIncreaseConfidence"><em class="orangeT">#Confidence</em></h1>
        <h1 class="hidden" id="BeImpressHer"><em class="whiteT">#MakeThemJealous</em></h1>
        <h1 class="hidden" id="BeLoseWeight"><em class="greenT">#GetATonedAss</em></h1>
        <h1 class="hidden" id="BeJumpHigher"><em class="greyT">#JumpHigher</em></h1>
        <h1 class="hidden" id="BeRunFaster"><em class="purpleT">#RunFaster</em></h1>
        <h1 class="" id="BeStronger"><em class="redT">#GetStronger</em></h1>

        <!-- More Info -->
        <h2>
            From novice to pro,<br /> <em class="lightBlueT">Fittr</em> will help you achieve your fitness goals.
        </h2>

        <div class="container-fluid">
          <a href="#aboutVideo" class="btn btn-large"><%= image_tag 'Icons/glyphicons_180_facetime_video.png' %> Learn More</a>
        </div>
      </div>
      <div class="span3 offset1 hidden-phone">
        <%= image_tag 'home/billboardPhone.png', :id => 'billboardIphone' %>
      </div>
    </div>
  </div>
</div>

<!-- Bottom info of page -->

<div class="container-fluid container-roomier align-center">
 <div class="row-fluid">
   <div class="span6 offset3">
		 <%= link_to 'Replace me', {:controller => 'home'}, :class => 'btn-try' %>
   </div>
  </div>
</div>


<!-- Start of info boxes -->

<div class="container-fluid container-space-bottom">
  <div class="row-fluid">
    <div class="span12 hero-unit">
      
      <div class="span4 offset2">
         <div class="appleDesc">
           <h1>You're unique</h1>
           <h2>Now your workout is too.</h2>
           
           <div class="align-justify">
             <p>Use Fittr if you're losing weight with a home gym, a bodybuilder with a club membership, or even a newbie without much equipment.
               
             <p><em class="grey">Worry free</em> Stop worrying whether you're training correctly, Fittr shows you exactly what you need to be doing to reach your goals.</p>
               
             <p><em class="grey">Swap out excercises</em> Say you hate squats. Or your knee hurts. No Problem. Just suggest to Fittr that you'd like to change an excercise out and Fittr will give you some equivalent alternatives.</p>
               
             <%= link_to 'Learn more about how Fittr works', :controller => 'about', :action => 'howFittrWorks' %>
           </div>
           
         </div>
       </div>
       <div class="span4 align-center bumpDowned">
         <%= image_tag 'home/unique.png' %>
       </div>
      </div>
      
    </div>
  </div>
</div>




<div class="container-fluid container-right container-space-bottom">
  <div class="row-fluid">
    <div class="span12 hero-unit">
      
      <div class="span4 offset2">
         <%= image_tag 'home/iphones.png' %>
       </div>
       <div class="span4">
         <div class="appleDesc">
            <h1>More Workouts</h1>
            <h2>Less work.</h2>

            <div class="align-justify">
              <p>Fittr manages everything for your workouts and tailors new workouts for you. Let fittr worry about your fitness plan and scheduling, you've got more important things to deal with. Just grab your smartphone and hit the start your workout.</p>

              <a href="#">Learn more about Fittr's workouts</a>
            <div class="align-justify">

          </div>
       </div>
      </div>
      
    </div>
  </div>
</div>
</div>
  
<div class="container-fluid container-space-bottom">
  <div class="row-fluid">
    <div class="span12 hero-unit">
      
      <div class="span4 offset2">
         <div class="appleDesc">
           <h1>Supersets to ellipticals</h1>
            <h2>Fittr speaks the language.</h2>
           
           <div class="align-justify">
             <p>A genius engine that takes your goals, equipment, and schedule into consideration makes Fittr the hands-down, thumbs-up, most advanced fitness trainer in the world. Trained by fitness experts and backed by science. Einstien would be proud.</p>

               
             <%= link_to 'Learn more about how Fittr works', :controller => 'about', :action => 'howFittrWorks' %>
           </div>
           
         </div>
       </div>
       <div class="span4 align-center">
         <%= image_tag 'about/variables.png' %>
       </div>
      </div>
      
    </div>
  </div>
</div>


  

<div class="container-fluid container-space-bottom">
  <div class="row-fluid">
    <div class="span12 hero-unit">
      
      <div class="span4 offset2 align-center">
         <%= image_tag 'home/socialize.png' %>
       </div>
       <div class="span4">
         <div class="appleDesc">
            <h1>Socialize</h1>
            <h2>It's good for you.</h2>

            <div class="align-justify">
              <p>Connect with friends through groups. Share your goals. Push each other. Compete for bragging rights. Stay motivated and get results!</p>

              <a href="#">Learn more about getting social with Fittr</a>
            </div>

          </div>
       </div>
      </div>
      
    </div>
  </div>
</div>


<div class="container-fluid container-space-bottom">
  <div class="row-fluid">
    <div class="span12 hero-unit">
      
      <div class="span4 offset2">
         <div class="appleDesc">
           <h1>When you compare Fittr to trainers</h1>
            <h2>There is no comparison.</h2>
           
           <div class="align-justify">
             <p>The price for personal trainers is per hour, not per month. The prices per hour vary from $25 all the way to $75 an hour. When you figure that you should be working out at least 3 days a week and that there is generally 4 weeks in a month, the prices for a trainer come out to over $300/month! Comparing that to Fittr's $8.99/month price, there is no comparison.</p>

               
             <%= link_to 'See how Fittr is the replacement trainer', :controller => 'about', :action => 'trainerComparison' %>
           </div>
           
         </div>
       </div>
       <div class="span4 align-center bumpDowned">
         <%= image_tag 'home/compare.png' %>
       </div>
      </div>
      
    </div>
  </div>
</div>


  

