<!DOCTYPE html>
<html>
<head>
  <title>Fittr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "about/layout", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="//use.typekit.net/ufd3hdx.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width", initial-scale="1.0">

  <%= yield :head %>
</head>
<body>

<%= render 'layouts/navbars/basic' %>

<!-- Start of content desktop -->
<div class="content visible-desktop">
  <div class="container-fluid container-padded">
    <div class="row-fluid">
      <div class="offset1 span3 sideNav-hero affix">
        <ul class="nav touchTop nav-tabs nav-stacked">
          <% if current_page? :action => 'howFittrWorks' %>
            <li class="active">
          <% else %>
            <li>
          <% end %>
            <%= link_to 'How Fittr Works', :action => 'howFittrWorks' %>
          </li>

          <% if current_page? :action => 'fittrsWorkouts' %>
            <li class="active">
          <% else %>
            <li>
          <% end %>
            <%= link_to 'Fittr\'s Workouts', :action => 'fittrsWorkouts' %>
          </li>

          <% if current_page? :action => 'fittrsTechnology' %>
            <li class="active">
          <% else %>
            <li>
          <% end %>
            <%= link_to 'Fittrs Technology', :action => 'fittrsTechnology' %>
          </li>

          <% if current_page? :action => 'socialize' %>
            <li class="active">
          <% else %>
            <li>
          <% end %>
            <%= link_to 'Socialize', :action => 'socialize' %>
          </li>
          
          <% if current_page? :action => 'trainerComparison' %>
            <li class="active">
          <% else %>
            <li>
          <% end %>
            <%= link_to 'Trainer Comparison', :action => 'trainerComparison' %>
          </li>

          <% if current_page? :action => 'FAQ' %>
            <li class="active">
          <% else %>
            <li>
          <% end %>
            <%= link_to 'FAQ', :action => 'FAQ' %>
          </li>

          <% if current_page? :action => 'TermsOfUse' %>
            <li class="active">
          <% else %>
            <li>
          <% end %>
            <%= link_to 'Terms Of Use', :action => 'TermsOfUse' %>
          </li>

          <% if current_page? :action => 'PrivacyPolicy' %>
            <li class="active">
          <% else %>
            <li>
          <% end %>
            <%= link_to 'Privacy Policy', :action => 'PrivacyPolicy' %>
          </li>

          <% if current_page? :action => 'ContactUs' %>
            <li class="active">
          <% else %>
            <li>
          <% end %>
            <%= link_to 'Contact Us', :action => 'ContactUs' %>
          </li>
          
        </ul>
      </div>

      <!-- Infographic -->
        <%= yield %>
    
    </div>
  </div>
</div>

<!-- Start of content under desktop -->
<div class="container-fluid container-padded hidden-desktop">
  <div class="row-fluid">
    <div class="offset1 span3 sideNav-hero">
      <ul class="nav nav-tabs nav-stacked">
        <% if current_page? :action => 'howFittrWorks' %>
          <li class="active">
        <% else %>
          <li>
        <% end %>
          <%= link_to 'How Fittr Works', :action => 'howFittrWorks' %>
        </li>

        <% if current_page? :action => 'fittrsWorkouts' %>
          <li class="active">
        <% else %>
          <li>
        <% end %>
          <%= link_to 'Fittr\'s Workouts', :action => 'fittrsWorkouts' %>
        </li>
        
        <% if current_page? :action => 'fittrsTechnology' %>
          <li class="active">
        <% else %>
          <li>
        <% end %>
          <%= link_to 'Fittrs Technology', :action => 'fittrsTechnology' %>
        </li>
        
        <% if current_page? :action => 'socialize' %>
          <li class="active">
        <% else %>
          <li>
        <% end %>
          <%= link_to 'Socialize', :action => 'socialize' %>
        </li>
        
        <% if current_page? :action => 'FAQ' %>
          <li class="active">
        <% else %>
          <li>
        <% end %>
          <%= link_to 'FAQ', :action => 'FAQ' %>
        </li>
        
        <% if current_page? :action => 'TermsOfUse' %>
          <li class="active">
        <% else %>
          <li>
        <% end %>
          <%= link_to 'Terms Of Use', :action => 'TermsOfUse' %>
        </li>
        
        <% if current_page? :action => 'PrivacyPolicy' %>
          <li class="active">
        <% else %>
          <li>
        <% end %>
          <%= link_to 'Privacy Policy', :action => 'PrivacyPolicy' %>
        </li>
        
        <% if current_page? :action => 'ContactUs' %>
          <li class="active">
        <% else %>
          <li>
        <% end %>
          <%= link_to 'Contact Us', :action => 'ContactUs' %>
        </li>
        
      </ul>
    </div>

    <!-- Infographic -->
      <%= yield %>
  
  </div>
</div>

<div class="container-fluid container-padded container-green">
  <div class="row-fluid">
    <div class="offset2 span2">
      <h3>About.</h3>
        <p><%= link_to_unless_current 'How Fittr Works ', :controller => 'about', :action => 'howFittrWorks' %></p>
        <p><%= link_to_unless_current 'Fittr\'s Workouts ', :controller => 'about', :action => 'fittrsWorkouts' %></p>
        <p><%= link_to_unless_current 'Fittr\'s Technology ', :controller => 'about', :action => 'fittrsTechnology' %></p>
        <p><%= link_to_unless_current 'Socialize ', :controller => 'about', :action => 'socialize' %></p>
        <p><%= link_to_unless_current 'Trainer Comparison ', :controller => 'about', :action => 'trainerComparison' %></p>
    </div>
    <div class="span3">
      <h3>Fittr Links.</h3>
        <p><%= link_to_unless_current 'FAQ ', :controller => 'about', :action => 'FAQ' %></p>
        <p><%= link_to_unless_current 'Contact', :controller => 'about', :action => 'ContactUs' %></p>
        <p><%= link_to_unless_current 'Terms Of Use ', :controller => 'about', :action => 'TermsOfUse' %></p>
        <p><%= link_to_unless_current 'Privacy Policy', :controller => 'about', :action => 'PrivacyPolicy' %></p>
   </div>
   <div class="span5">
    <h3>Social Links.</h3>
    <div class="row-fluid">
      
      <!-- SU -->
      <div class="span2">
      <su:badge layout="5"></su:badge>
      </div>
      
      <!-- fb -->
      <div class="span2">
        <div class="fb-like" data-href="http://www.facebook.com/fittrbody?fref=ts" data-send="false" data-layout="box_count" data-width="450" data-show-faces="true"></div>
      </div>
      
      <!-- pinterest -->
      <div class="bumpDown span2">
        <a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Ffittr.com%2F&media=http%3A%2F%2Ffittr.com%2Fassets%2Fpinterest.gif&description=Get%20great%20workouts%20that%20are%20completely%20tailored%20to%20you.%20With%20millions%20of%20workout%20combinations%2C%20no%20matter%20what%20equipment%20you%20have%2C%20no%20matter%20how%20intense%20you%20want%20to%20work%2C%20Fittr%20will%20change%20the%20way%20you%20look%20at%20fitness" class="pin-it-button" count-layout="vertical"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
      </div>
      
    </div>
    
   </div>
  </div>
</div>
<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>

</body>
</html>
