<!DOCTYPE html>
<html>
<head>
  <title>Fittr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "about/layout", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="//use.typekit.net/ufd3hdx.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width", initial-scale="1.0">

  <%= yield :head %>
</head>
<body>

<%= render 'layouts/navbars/basic' %>

<!-- Start of content desktop -->
<div class="content visible-desktop">
  <div class="container-fluid container-padded">
    <div class="row-fluid">
      <div class="offset1 span3 sideNav-hero affix">
        <ul class="nav touchTop nav-tabs nav-stacked">
          <% if current_page? :action => 'howFittrWorks' %>
            <li class="active">
          <% else %>
            <li>
          <% end %>
            <%= link_to 'How Fittr Works', :action => 'howFittrWorks' %>
          </li>

          <% if current_page? :action => 'fittrsWorkouts' %>
            <li class="active">
          <% else %>
            <li>
          <% end %>
            <%= link_to 'Fittr\'s Workouts', :action => 'fittrsWorkouts' %>
          </li>

          <% if current_page? :action => 'fittrsTechnology' %>
            <li class="active">
          <% else %>
            <li>
          <% end %>
            <%= link_to 'Fittr\'sTechnology', :action => 'fittrsTechnology' %>
          </li>

          <% if current_page? :action => 'socialize' %>
            <li class="active">
          <% else %>
            <li>
          <% end %>
            <%= link_to 'Socialize', :action => 'socialize' %>
          </li>

          <% if current_page? :action => 'FAQ' %>
            <li class="active">
          <% else %>
            <li>
          <% end %>
            <%= link_to 'FAQ', :action => 'FAQ' %>
          </li>

          <% if current_page? :action => 'TermsOfUse' %>
            <li class="active">
          <% else %>
            <li>
          <% end %>
            <%= link_to 'Terms Of Use', :action => 'TermsOfUse' %>
          </li>

          <% if current_page? :action => 'ContactUs' %>
            <li class="active">
          <% else %>
            <li>
          <% end %>
            <%= link_to 'Contact Us', :action => 'ContactUs' %>
          </li>
        </ul>
      </div>

      <!-- Infographic -->
        <%= yield %>
    
    </div>
  </div>
</div>

<!-- Start of content under desktop -->
<div class="container-fluid container-padded hidden-desktop">
  <div class="row-fluid">
    <div class="offset1 span2 sideNav-hero">
      <ul class="nav nav-tabs nav-stacked">
        <% if current_page? :action => 'howFittrWorks' %>
          <li class="active">
        <% else %>
          <li>
        <% end %>
          <%= link_to 'How Fittr Works', :action => 'howFittrWorks' %>
        </li>

        <% if current_page? :action => 'fittrsWorkouts' %>
          <li class="active">
        <% else %>
          <li>
        <% end %>
          <%= link_to 'Fittr\'s Workouts', :action => 'fittrsWorkouts' %>
        </li>
        
        <% if current_page? :action => 'fittrsTechnology' %>
          <li class="active">
        <% else %>
          <li>
        <% end %>
          <%= link_to 'FittrsTechnology', :action => 'fittrsTechnology' %>
        </li>
        
        <% if current_page? :action => 'socialize' %>
          <li class="active">
        <% else %>
          <li>
        <% end %>
          <%= link_to 'Socialize', :action => 'socialize' %>
        </li>
        
        <% if current_page? :action => 'FAQ' %>
          <li class="active">
        <% else %>
          <li>
        <% end %>
          <%= link_to 'FAQ', :action => 'FAQ' %>
        </li>
        
        <% if current_page? :action => 'TermsOfUse' %>
          <li class="active">
        <% else %>
          <li>
        <% end %>
          <%= link_to 'Terms Of Use', :action => 'TermsOfUse' %>
        </li>
        
        <% if current_page? :action => 'ContactUs' %>
          <li class="active">
        <% else %>
          <li>
        <% end %>
          <%= link_to 'Contact Us', :action => 'ContactUs' %>
        </li>
        
      </ul>
    </div>

    <!-- Infographic -->
      <%= yield %>
  
  </div>
</div>

</body>
</html>
