<!DOCTYPE html>
<html>
<head>
  <title>Fittr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<%= render 'layouts/scripts' %>
  <%= csrf_meta_tags %>

  <%= yield :head %>
</head>
<body>

<%= render 'layouts/navbars/basic' %>

<!-- Start of content -->
<div class="content">
  <%= yield %>
</div>
<%= render 'layouts/footer' %>

</body>
</html>
